# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# next.js
/.next/
/out/

# production
/build

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# local env files
.env*.local

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts

# additional
# Ignore local cache and build files
/.cache
/.eslintcache
/.storybook

# IDE and Editor directories
.idea/
.vscode/

# OS-specific files
Thumbs.db
ehthumbs.db
Desktop.ini

# Linux-specific
*.swp
*.swo

# Logs and temporary files
*.log
*.tmp
*.swp

# Custom build artifacts
build/
dist/
